/* // Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { ... }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... } */


@media (max-width: 991.98px){
    body{
        overflow-x:hidden;
        width: 100vw;
    }
}
@media (min-width: 992px){
    body{
        overflow:hidden;
    }
}



@media (max-width: 575.98px) {
    /* 第一屏 575 */
    .main-01 {
        height: 70rem;
        position: relative;
        overflow: hidden;
    }
    .main-01 .text-box {
        color: aliceblue;
        position: absolute;
        top: 6rem;
        box-sizing: border-box;
        margin-left: 10%;
        margin-right: 20%;
    }
    .main-01 .text-box .master-button {
        position: absolute;
    }
    .main-01 .foot {
        height: 40rem;
        bottom: 0px;
        position: absolute;
    }
    .main-01 .foot .foot-01 {
        border-bottom: 1px transparent solid;
        cursor: pointer;
    }
    .main-01 .foot .foot-02 {
        border-top: 1px transparent solid;
        cursor: pointer;
    }
    /* 第二屏 575 */
    .main-02 {
        height: 50rem;
        position: relative;
    }
    .main-02 .first-screen {
        height: 50rem;
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
    }
    .main-02 .second-screen {
        height: 50rem;
        position: absolute;
        width: 100%;
        top: 0;
        left: 100%;
    }
    .main-02 .three-screen {
        height: 50rem;
        position: absolute;
        width: 100%;
        top: 0;
        left: 100%;
    }
    .main-02 .four-screen {
        height: 50rem;
        position: absolute;
        width: 100%;
        top: 0;
        left: 100%;
    }
    .main-02 .five-screen {
        height: 50rem;
        position: absolute;
        width: 100%;
        top: 0;
        left: 100%;
    }
    .main-02 .six-screen {
        height: 50rem;
        position: absolute;
        width: 100%;
        top: 0;
        left: 100%;
    }
    .main-02 .text-box {
        color: aliceblue;
        position: absolute;
        top: 30%;
        margin-left: 10%;
        margin-right: 5%;
        background-color: #333333;
        padding-right: 30px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .main-02 .select-screen {
        position: relative;
        top: 1rem;
        left: 2.2rem;
    }
    .main-02 .select-screen li {
        cursor: pointer;
        display: block;
        margin-right: .5rem;
        font-size: .9rem;
    }
    /* 第三屏 575 */
    .main-03 {
        height: 60rem;
        position: relative;
    }
    .main-03 .text-box {
        color: aliceblue;
        position: absolute;
        top: 8rem;
        box-sizing: border-box;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .main-03 .foot {
        height: 32rem;
        bottom: 0px;
        position: absolute;
    }
    /* 第四屏 575 */
    .main-04 {
        height: 70rem;
        position: relative;
    }
    .main-04 .text-box {
        color: aliceblue;
        position: absolute;
        top: 8rem;
        box-sizing: border-box;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .main-04 .foot {
        height: 38rem;
        bottom: 0px;
        position: absolute;
    }
    /* 第五屏 575 */
    .main-05 {
        height: 60rem;
        position: relative;
    }
    .main-05 .text-box {
        color: aliceblue;
        position: absolute;
        top: 6rem;
        box-sizing: border-box;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .main-05 .foot {
        height: 28rem;
        bottom: 0px;
        position: absolute;
    }
    .main-05 .foot .foot-01 {
        border-bottom: 1px transparent solid;
        cursor: pointer;
    }
    .main-05 .foot .foot-02 {
        border-top: 1px transparent solid;
        cursor: pointer;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    /* 第一屏 576~767 */
    .main-01 {
        height: 180vh;
        position: relative;
        overflow: hidden;
    }
    .main-01 .text-box {
        color: aliceblue;
        position: absolute;
        top: 6rem;
        box-sizing: border-box;
        margin-left: 3%;
        margin-right: 17%;
    }
    .main-01 .text-box .master-button {
        position: absolute;
    }
    .main-01 .foot {
        height: 20rem;
        bottom: 0px;
        position: absolute;
    }
    .main-01 .foot .foot-01 {
        border-bottom: 1px transparent solid;
        cursor: pointer;
    }
    .main-01 .foot .foot-02 {
        border-top: 1px transparent solid;
        cursor: pointer;
    }
    /* 第二屏 576~767 */
    .main-02 {
        height: 180vh;
        position: relative;
    }
    .main-02 .first-screen {
        height: 180vh;
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
    }
    .main-02 .second-screen {
        height: 180vh;
        position: absolute;
        width: 100%;
        top: 0;
        left: 100%;
    }
    .main-02 .three-screen {
        height: 180vh;
        position: absolute;
        width: 100%;
        top: 0;
        left: 100%;
    }
    .main-02 .four-screen {
        height: 180vh;
        position: absolute;
        width: 100%;
        top: 0;
        left: 100%;
    }
    .main-02 .five-screen {
        height: 180vh;
        position: absolute;
        width: 100%;
        top: 0;
        left: 100%;
    }
    .main-02 .six-screen {
        height: 180vh;
        position: absolute;
        width: 100%;
        top: 0;
        left: 100%;
    }
    .main-02 .text-box {
        color: aliceblue;
        position: absolute;
        top: 30%;
        margin-left: 10%;
        margin-right: 10%;
        background-color: #333333;
        padding-right: 50px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .main-02 .select-screen {
        position: relative;
        top: 1rem;
        left: 3rem;
    }
    .main-02 .select-screen li {
        cursor: pointer;
        display: block;
        margin-right: 1rem;
        font-size: .9rem;
    }
    /* 第三屏 576~767 */
    .main-03 {
        height: 56rem;
        position: relative;
    }
    .main-03 .text-box {
        color: aliceblue;
        position: absolute;
        top: 8rem;
        box-sizing: border-box;
        margin-left: 3%;
        margin-right: 17%;
    }
    .main-03 .foot {
        height: 38rem;
        bottom: 0px;
        position: absolute;
    }
    /* 第四屏 576~767 */
    .main-04 {
        height:56rem;
        position: relative;
    }
    .main-04 .text-box {
        color: aliceblue;
        position: absolute;
        top: 8rem;
        box-sizing: border-box;
        margin-left: 3%;
        margin-right: 17%;
    }
    .main-04 .foot {
        height: 26rem;
        bottom: 0px;
        position: absolute;
    }
    /* 第五屏 576~767 */
    .main-05 {
        height: 56rem;
        position: relative;
    }
    .main-05 .text-box {
        color: aliceblue;
        position: absolute;
        top: 6rem;
        box-sizing: border-box;
        margin-left: 3%;
        margin-right: 17%;
    }
    .main-05 .foot {
        height: 22rem;
        bottom: 0px;
        position: absolute;
    }
    .main-05 .foot .foot-01 {
        border-bottom: 1px transparent solid;
        cursor: pointer;
    }
    .main-05 .foot .foot-02 {
        border-top: 1px transparent solid;
        cursor: pointer;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    /* 第一屏 768~991 */
    .main-01 {
        height: 64rem;
        position: relative;
        overflow: hidden;
        background-size: 200%;
        background-position: center;
    }
    .main-01 .text-box {
        color: aliceblue;
        position: absolute;
        top: 6rem;
        box-sizing: border-box;
        margin-left: 2%;
        margin-right: 15%;
    }
    .main-01 .text-box .master-button {
        position: absolute;
    }
    .main-01 .foot {
        height: 28rem;
        bottom: 0px;
        position: absolute;
    }
    .main-01 .foot .foot-01 {
        border-bottom: 1px transparent solid;
        cursor: pointer;
    }
    .main-01 .foot .foot-02 {
        border-top: 1px transparent solid;
        cursor: pointer;
    }
    /* 第二屏 768~991 */
    .main-02 {
        height: 64rem;
        position: relative;
        background-size: 200%;
        background-position: center;
    }
    .main-02 .screen{
        background-size: 200%;
        height: 64rem;
        position: absolute;
        width: 100%;
        top: 0;
    }
    .main-02 .first-screen {
        left: 0;
    }
    .main-02 .second-screen {
        left: 100%;
    }
    .main-02 .three-screen {
        left: 100%;
    }
    .main-02 .four-screen {
        left: 100%;
    }
    .main-02 .five-screen {
        left: 100%;
    }
    .main-02 .six-screen {
        left: 100%;
    }
    .main-02 .text-box {
        color: aliceblue;
        position: absolute;
        top: 30%;
        margin-left: 9.5%;
        margin-right: 10.5%;
        background-color: #333333;
        padding-right: 50px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .main-02 .select-screen {
        position: relative;
        top: 1rem;
        left: 3rem;
    }
    .main-02 .select-screen li {
        cursor: pointer;
        display: block;
        margin-right: 1rem;
        font-size: .9rem;
    }
    /* 第三屏 768~991 */
    .main-03 {
        height: 64rem;
        position: relative;
        background-size: 200%;
        background-position: center;
    }
    .main-03 .text-box {
        color: aliceblue;
        position: absolute;
        top: 8rem;
        box-sizing: border-box;
        margin-left: 2%;
        margin-right: 15%;
    }
    .main-03 .foot {
        height: 39rem;
        bottom: 0px;
        position: absolute;
    }
    /* 第四屏 768~991 */
    .main-04 {
        height: 64rem;
        position: relative;
        background-size: 200%;
        background-position: center;
    }
    .main-04 .text-box {
        color: aliceblue;
        position: absolute;
        top: 8rem;
        box-sizing: border-box;
        margin-left: 2%;
        margin-right: 15%;
    }
    .main-04 .foot {
        height: 36rem;
        bottom: 0px;
        position: absolute;
    }
    /* 第五屏 768~991 */
    .main-05 {
        height: 64rem;
        position: relative;
        background-size: 200%;
        background-position: center;
    }
    .main-05 .text-box {
        color: aliceblue;
        position: absolute;
        top: 6rem;
        box-sizing: border-box;
        margin-left: 2%;
        margin-right: 15%;
    }
    .main-05 .foot {
        height: 26rem;
        bottom: 0px;
        position: absolute;
    }
    .main-05 .foot .foot-01 {
        border-bottom: 1px transparent solid;
        cursor: pointer;
    }
    .main-05 .foot .foot-02 {
        border-top: 1px transparent solid;
        cursor: pointer;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    /* 第一屏 992~1199 */
    .main-01 {
        height: 100vh;
        position: relative;
        overflow: hidden;
        background-size: 200%;
    }
    .main-01 .text-box {
        color: aliceblue;
        position: absolute;
        top: 4rem;
        box-sizing: border-box;
        margin-left: 8%;
        margin-right: 20%;
    }
    .main-01 .foot {
        height: 14rem;
        bottom: 0px;
        position: absolute;
    }
    .main-01 .foot .foot-01 {
        border-right: 1px transparent solid;
        cursor: pointer;
    }
    .main-01 .foot .foot-02 {
        border-left: 1px transparent solid;
        cursor: pointer;
    }
    /* 第二屏 992~1199 */
    .main-02 {
        height: 100vh;
        position: relative;
        background-size: 100%;
    }
    .main-02 .screen{
        height: 100vh;
        position: absolute;
        width: 100%;
        top: 0;
    }
    .main-02 .first-screen {
        left: 0;
    }
    .main-02 .second-screen {
        left: 100%;
    }
    .main-02 .three-screen {
        left: 100%;
    }
    .main-02 .four-screen {
        left: 100%;
    }
    .main-02 .five-screen {
        left: 100%;
    }
    .main-02 .six-screen {
        left: 100%;
    }
    .main-02 .text-box {
        color: aliceblue;
        position: absolute;
        top: 20%;
        margin-left: 10%;
        margin-right: 40%;
        background-color: #333333;
        padding-right: 8.3333%;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .main-02 .select-screen {
        position: relative;
        top: 1rem;
        left: 3rem;
    }
    .main-02 .select-screen li {
        cursor: pointer;
        display: block;
        margin-right: 1rem;
        font-size: .9rem;
    }
    /* 第三屏 992~1199 */
    .main-03 {
        height: 100vh;
        position: relative;
        background-size: 200%;
    }
    .main-03 .text-box {
        color: aliceblue;
        position: absolute;
        top: 4rem;
        box-sizing: border-box;
        margin-left: 8%;
        margin-right: 20%;
    }
    .main-03 .foot {
        height: 13rem;
        bottom: 0px;
        position: absolute;
    }
    /* 第四屏 992~1199 */
    .main-04 {
        height: 100vh;
        position: relative;
        background-size: 200%;
    }
    .main-04 .text-box {
        color: aliceblue;
        position: absolute;
        top: 4rem;
        box-sizing: border-box;
        margin-left: 8%;
        margin-right: 20%;
    }
    .main-04 .foot {
        height: 16rem;
        bottom: 0px;
        position: absolute;
    }
    .main-04 .foot-01{
        background-size: 200%;
    }
    .main-04 .foot-02{
        background-size: 200%;
    }
    .main-04 .foot-03{
        background-size: 200%;
    }
    /* 第五屏 992~1199 */
    .main-05 {
        height: 100vh;
        position: relative;
        background-size: 200%;
    }
    .main-05 .text-box {
        color: aliceblue;
        position: absolute;
        top: 4rem;
        box-sizing: border-box;
        margin-left: 8%;
        margin-right: 20%;
    }
    .main-05 .foot {
        height: 16rem;
        bottom: 0px;
        position: absolute;
    }
    .main-05 .foot .foot-01 {
        border-right: 1px transparent solid;
        cursor: pointer;
    }
    .main-05 .foot .foot-02 {
        border-left: 1px transparent solid;
        cursor: pointer;
    }
}

@media (min-width: 1200px) {
    /* 第一屏 1200*/
    .main-01 {
        height: 100vh;
        position: relative;
        overflow: hidden;
        background-size: 100%;
    }
    .main-01 .text-box {
        color: aliceblue;
        position: absolute;
        box-sizing: border-box;
        top: 12%;
        margin-left: 10%;
        margin-right: 40%;
    }
    .main-01 .foot {
        height: 16rem;
        bottom: 0px;
        position: absolute;
    }
    .main-01 .foot .foot-01 {
        border-right: 1px transparent solid;
        cursor: pointer;
    }
    .main-01 .foot .foot-02 {
        border-left: 1px transparent solid;
        cursor: pointer;
    }
    /* 第二屏 1200*/
    .main-02 {
        height: 100vh;
        position: relative;
        background-size: 100%;
        overflow: hidden;
    }
    .main-02 .first-screen {
        height: 100vh;
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
    }
    .main-02 .second-screen {
        height: 100vh;
        position: absolute;
        width: 100%;
        top: 0;
        left: 100%;
    }
    .main-02 .three-screen {
        height: 100vh;
        position: absolute;
        width: 100%;
        top: 0;
        left: 100%;
    }
    .main-02 .four-screen {
        height: 100vh;
        position: absolute;
        width: 100%;
        top: 0;
        left: 100%;
    }
    .main-02 .five-screen {
        height: 100vh;
        position: absolute;
        width: 100%;
        top: 0;
        left: 100%;
    }
    .main-02 .six-screen {
        height: 100vh;
        position: absolute;
        width: 100%;
        top: 0;
        left: 100%;
    }
    .main-02 .text-box {
        color: aliceblue;
        position: absolute;
        top: 8rem;
        margin-left: 10%;
        margin-right: 50%;
        background-color: #333333;
        padding-right: 8.3333%;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .main-02 .select-screen {
        position: relative;
        top: 1rem;
        left: 3rem;
    }
    .main-02 .select-screen li {
        cursor: pointer;
        display: block;
        margin-right: 1rem;
        font-size: .9rem;
    }
    /* 第三屏 1200 */
    .main-03 {
        height: 100vh;
        position: relative;
        background-size: 100%;
    }
    .main-03 .text-box {
        color: aliceblue;
        position: absolute;
        top: 12%;
        box-sizing: border-box;
        margin-left: 10%;
        margin-right: 50%;
    }
    .main-03 .foot {
        height: 16rem;
        bottom: 0px;
        position: absolute;
    }
    /* 第四屏 1200 */
    .main-04 {
        height: 100vh;
        position: relative;
        background-size: 100%;
    }
    .main-04 .text-box {
        color: aliceblue;
        position: absolute;
        top: 12%;
        box-sizing: border-box;
        margin-left: 10%;
        margin-right: 50%;
    }
    .main-04 .foot {
        height: 16rem;
        bottom: 0px;
        position: absolute;
    }
    /* 第五屏 1200 */
    .main-05 {
        height: 100vh;
        position: relative;
        background-size: 100%;
    }
    .main-05 .text-box {
        color: aliceblue;
        position: absolute;
        top: 12%;
        box-sizing: border-box;
        margin-left: 10%;
        margin-right: 50%;
    }
    .main-05 .foot {
        height: 12rem;
        bottom: 0px;
        position: absolute;
        transition: 1s;
    }
    .main-05 .foot .foot-01 {
        border-right: 1px transparent solid;
        cursor: pointer;
    }
    .main-05 .foot:hover{
        height: 20rem;
        transition: 1s;
    }
    .main-05 .foot .foot-02 {
        border-left: 1px transparent solid;
        cursor: pointer;
    }
    
}

/* 第一屏(全) */
.main-01{
    background-image: url("../image/index/001.jpg");
    background-position: center;
}

.main-01 .foot .mask {
    background-color: black;
    opacity: .6;
    z-index: 2;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 1s;
}

.main-01 .foot p {
    color: aliceblue;
    box-sizing: border-box;
    margin-left: 15%;
    margin-right: 15%;
    position: relative;
    top: 2rem;
    z-index: 3;
}

.main-01 .foot .foot-01:hover .normal-text::after {
    color: #177B57;
    transition: 1s;
}

.main-01 .foot .foot-02:hover .normal-text::after {
    color: #177B57;
    transition: 1s;
}

.main-01 .foot .foot-01:hover .mask {
    transition: 1s ease;
    opacity: 1;
}

.main-01 .foot .foot-02:hover .mask {
    transition: 1s ease;
    opacity: 1;
}

/* 第二屏(全) */
.main-02{
    background-color: #222222;
    overflow: hidden;
}
.main-02 .first-screen{
    background-image: url("../image/index/002.jpg");
    background-position: center;
}
.main-02 .second-screen{
    background-image: url("../image/index/008.jpg");
    background-position: center;
}
.main-02 .three-screen{
    background-image: url("../image/index/004.jpg");
    background-position: center;
}
.main-02 .four-screen{
    background-image: url("../image/index/005.jpg");
    background-position: center;
}
.main-02 .five-screen{
    background-image: url("../image/index/006.jpg");
    background-position: center;
}
.main-02 .six-screen{
    background-image: url("../image/index/007.jpg");
    background-position: center;
}
.main-02 .first-screen .select-screen li:nth-child(1) {
    color: #177B57;
}
.main-02 .second-screen .select-screen li:nth-child(2) {
    color: #177B57;
}
.main-02 .three-screen .select-screen li:nth-child(3) {
    color: #177B57;
}
.main-02 .four-screen .select-screen li:nth-child(4) {
    color: #177B57;
}
.main-02 .five-screen .select-screen li:nth-child(5) {
    color: #177B57;
}
.main-02 .six-screen .select-screen li:nth-child(6) {
    color: #177B57;
}
.main-02 .screen .select-screen li:hover {
    color: #177B57;
    transition: .5s;
}


/* 第三屏(全) */
.main-03{
    background-image: url("../image/index/Deal.png");
    background-position: center;
}
.main-03 .foot .mask {
    background-color: black;
    opacity: .4;
    z-index: 2;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 1s;
}

.main-03 .foot p {
    color: aliceblue;
    box-sizing: border-box;
    margin-left: 15%;
    margin-right: 15%;
    position: relative;
    top: 2rem;
    z-index: 3;
}

.main-03 .foot .foot-01 {
    background-image: url("../image/index/Client.png");
    background-size: 100%;
    cursor: pointer;
    background-position: center;
    background-size: 100%;
}

.main-03 .foot .foot-02 {
    background-image: url("../image/index/case.png");
    background-size: 100%;
    cursor: pointer;
    background-position: center;
    background-size: 100%;
}

.main-03 .foot .foot-03 {
    background-image: url("../image/index/hours.jpg");
    background-size: 100%;
    cursor: pointer;
    background-position: center;
    background-size: 100%;
}

.main-03 .foot .foot-01:hover .mask {
    transition: 1s ease;
    opacity: .8;
}

.main-03 .foot .foot-01:hover .normal-text::after {
    color: #177B57;
    transition: 1s;
}

.main-03 .foot .foot-02:hover .mask {
    transition: 1s ease;
    opacity: .8;
}

.main-03 .foot .foot-02:hover .normal-text::after {
    color: #177B57;
    transition: 1s;
}

.main-03 .foot .foot-03:hover .mask {
    transition: 1s ease;
    opacity: .8;
}

.main-03 .foot .foot-03:hover .normal-text::after {
    color: #177B57;
    transition: 1s;
}

/* 第四屏(全) */
.main-04{
    background-image: url("../image/index/core.png");
    background-position: center;
}
.main-04 .foot .mask {
    background-color: black;
    opacity: .4;
    z-index: 2;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 1s;
}

.main-04 .foot p {
    color: aliceblue;
    box-sizing: border-box;
    margin-left: 15%;
    margin-right: 15%;
    position: relative;
    top: 2rem;
    z-index: 3;
}

.main-04 .foot .foot-01 {
    background-image: url("../image/index/team.png");
    cursor: pointer;
    background-position: center;
}

.main-04 .foot .foot-02 {
    background-image: url("../image/index/legal.png");
    cursor: pointer;
    background-position: center;
}

.main-04 .foot .foot-03 {
    background-image: url("../image/index/finance.png");
    cursor: pointer;
    background-position: center;
}

.main-04 .foot .foot-01:hover .mask {
    transition: 1s ease;
    opacity: .8;
}

.main-04 .foot .foot-01:hover .normal-text::after {
    color: #177B57;
    transition: 1s;
}

.main-04 .foot .foot-02:hover .mask {
    transition: 1s ease;
    opacity: .8;
}

.main-04 .foot .foot-02:hover .normal-text::after {
    color: #177B57;
    transition: 1s;
}

.main-04 .foot .foot-03:hover .mask {
    transition: 1s ease;
    opacity: .8;
}

.main-04 .foot .foot-03:hover .normal-text::after {
    color: #177B57;
    transition: 1s;
}

/* 第五屏(全) */
.main-05{
    background-image: url("../image/index/contact-us.png");
    background-position: center;
}
.main-05 .mask {
    background-color: black;
    opacity: .6;
    z-index: 2;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 1s;
}

.main-05 .foot p {
    color: aliceblue;
    box-sizing: border-box;
    margin-left: 15%;
    margin-right: 15%;
    position: relative;
    top: 2rem;
    z-index: 3;
}

.main-05 .foot .foot-01:hover .normal-text::after {
    color: #177B57;
    transition: 1s;
}

.main-05 .foot .foot-02:hover .normal-text::after {
    color: #177B57;
    transition: 1s;
}

.main-05 .foot .foot-01:hover .mask {
    transition: 1s ease;
    opacity: 1;
}

.main-05 .foot .foot-02:hover .mask {
    transition: 1s ease;
    opacity: 1;
}

.main-05 .copyright {
    position: relative;
    border-top: 2px transparent solid;
}

.main-05 .copyright p {
    position: absolute;
    top: 5px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}